name: release

on:
  workflow_dispatch: # manual trigger
  schedule:
    - cron: "0 0 * * *" # Everyday at ~00:00 UTC

jobs:
  build:
    name: build / ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]

    env:
      GOPATH: ${{ github.workspace }}

    outputs:
      tag: ${{ steps.now.outputs.formattedTime }}

    steps:
      - name: Get current date # To use as tag
        uses: 1466587594/get-current-time@v1
        id: now
        with:
          format: YYYY.MM.DD

      - name: Enable long paths on windows
        if: startsWith(matrix.os, 'windows')
        run: git config --global core.longpaths true

      - name: Clone repository
        uses: actions/checkout@v2
        with:
          repository: "elsaland/elsa"
          fetch-depth: 1 # No need for full version history
          submodules: true
          path: "./src/github.com/elsaland/elsa"

      - name: Setup go
        uses: actions/setup-go@v2

      - name: Install go-bindata
        run: go get github.com/go-bindata/go-bindata

      - name: Run bootstrap
        working-directory: ./src/github.com/elsaland/elsa
        run: go run ./bootstrap/

      - name: Build
        working-directory: ./src/github.com/elsaland/elsa
        run: go build --ldflags "-s -w" -o elsa-${{ matrix.os }} .

      - name: Zip linux release
        if: startsWith(matrix.os, 'ubuntu')
        working-directory: ./src/github.com/elsaland/elsa
        run: zip -r elsa-nightly-x86_64-unknown-linux-gnu.zip elsa-${{ matrix.os }}

      - name: Zip mac release
        if: startsWith(matrix.os, 'macOS')
        working-directory: ./src/github.com/elsaland/elsa
        run: zip -r elsa-nightly-x86_64-apple-darwin.zip elsa-${{ matrix.os }}

      - name: Zip windows release
        if: startsWith(matrix.os, 'windows')
        working-directory: ./src/github.com/elsaland/elsa
        run: Compress-Archive -CompressionLevel Optimal -Force -Path elsa-${{ matrix.os }} -DestinationPath elsa-nightly-x86_64-pc-windows-msvc.zip

      - name: Upload Builds
        uses: actions/upload-artifact@v2
        with:
          name: release
          path: ./src/github.com/elsaland/elsa/elsa-${{ matrix.os }}
  upload:
    name: upload / ${{ matrix.tag }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tag: ["latest", "${{ needs.build.outputs.tag }}"]

    needs: build
    steps:
      - name: Download Builds
        uses: actions/download-artifact@v2

      - name: ${{ matrix.tag }}
        uses: ncipollo/release-action@v1
        with:
          tag: "${{ matrix.tag }}"
          name: "${{ matrix.tag }}"
          prerelease: ${{ matrix.tag == 'latest' }}
          allowUpdates: true
          replacesArtifacts: true
          artifacts: "release/*"
          token: ${{ secrets.GITHUB_TOKEN }}
